body h1{
  color:#812035;
  text-align:center;
  font-size:120px;
  font-family: "Showcard Gothic", "Arial", "sans-serif";
  font-weight:10;
  padding: 8rem 0.5rem;
  margin: 1rem;
}

.p2{
 margin: 3rem 6rem;
}

body p{
  color:rgba(154, 45, 83); 
  font-family:"Tahoma","Verdana","sans-serif"; 
  font-size: 23px;
  font-weight:800;
  border:6px solid;
  margin: 9rem 6rem 2rem 6rem;
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 25px;
}

p a{
  color: rgba(103, 36, 66);

}

body {
  background-image: url(wawes.jpg); 
  height: 3900px;
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  block-size: cover;
  background-attachment: local;
  background-color:rgb(0, 18, 32);
  background-repeat: no-repeat;

} 

p:hover,
p:active{
 background-color: rgb(26, 23, 41);
}

p a:hover,
p a:active{
  background-color:rgb(52, 27, 49) ;
}

body i{
  font-size: 45px;
  color:rgb(0, 25, 137);
}

table{
  background-color: rgba(103, 36, 66);
  text-align: center;
  border-radius: 9px;
  margin:3rem 6rem ;
  padding: 10px;
  font-size: 20px;
  border-spacing: 20px;
  caption-side: top;

}

th{
  background-color: #cf6100;
  padding: 1rem;
  border-radius: 9px;
  border:solid 5px;
  border-spacing: 20px;
  
}

td{
  background-color: orange;
  padding: 1rem;
  border-radius: 8px;
  border:solid 5px;
  border-spacing: 20px;
}

caption{
  color: white;
  background-color:  rgba(103, 36, 66);
  padding: 1rem;
  border-radius: 9px;
  margin: 1rem auto;
}